<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/assets/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3 class="text-center">Forgot Password</h3>
                                <p class="mb-4 text-center">Please enter your email address</p>
                            </div>
                            <form method="post" th:action="@{/password/forgot}" enctype="application/x-www-form-urlencoded">
                                <div class="form-group last mb-4">
                                    <label for="emailInput">Email</label>
                                    <input type="email" id="emailInput" class="form-control" required name="email">
                                </div>
                                <div class="d-flex mb-5 align-items-center">
                                    <span class="caption">Back to <a href="#"></a></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>